@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
:root{
    --main-color: #11b28e;
    --black: #2C2C2C;
    --typeHeaderSize: 30px;
    --typeHeaderWeight: 700;
    --typeSubheaderSize: 20px;
    --typeSubheaderWeight: 500;
    --typeBaseSize: 14px;
    --typeBaseWeight: 400;
}
/*HEADER*/
.nav-link{
    text-align: center;
}
.header__logo{
    height: 50px;
}
.header__iconos{
    text-align: center;
}
.header__iconos a{
    padding: 10px;
    color: var(--black);
    font-size: 24px;
}
.breadcrumb{
    text-decoration: none;
    margin-bottom: 30px;
}
.breadcrumb i{
    color: var(--black);
}
.breadcrumb__element{
    display: inline;
    padding: 0px 20px 0px 0px;
}
.breadcrumb__element a{
    color: var(--black);
    text-decoration: none;
}
.breadcrumb__element a:visited{
    color: var(--black);
    text-decoration: none;
}
/* FIN HEADER*/

/*FOOTER*/
.footer{
    background-color: var(--black);
    padding: 40px;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer__logo {
    padding: 10px;
}
.footer__logo img{
    height: 180px;
}
.footer__logo__rrss{
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
}
.footer__logo__rrss img{
    height: 30px;
}
.footer__section{
    padding: 10px;
}
.footer__section__titulo{
    color: whitesmoke;
    font-weight: 1000;

}
.footer__section__lista{
    list-style: none;
    color: whitesmoke;
    margin-left: -30px;
}
.footer__section__lista a{
    color: whitesmoke;
    text-decoration: none;
}
.footer__section__lista a:visited{
    color: whitesmoke;
    text-decoration: none;
}
.footer__section__lista a:hover{
    color: var(--main-color);
    text-decoration: none;
}
.footer__copy{
    color: whitesmoke;
    text-align: center;
}
.jump:hover{
    animation: jump 1s;
    animation-iteration-count: infinite;
}
@keyframes jump{
    0%{
      transform: translatey(0px);
    }
    50%{
      transform: translatey(-10px);
    }
    100%{
      transform: translatey(0px);
    }
  }
/*FIN FOOTER*/

/*FOOTER RESPONSIVE*/
@media (max-width: 600px) {
    .footer-row{
        display: block;
    }
    .footer__logo__rrss{
        display: flex;
        padding-top: 0px;
        justify-content: center;
    }
    .footer__logo__rrss a{
        padding: 20px;
    }
    .footer__section__titulo{
        color: whitesmoke;
        font-weight: 1000;
        text-align: center;
    
    }
    .footer__section__lista{
        list-style: none;
        color: whitesmoke;
        margin-left: -30px;
        text-align: center;
    }
  }
/*FIN FOOTER RESPONSIVE*/

/*BASICS*/
h1{
    font-size: var(--typeHeaderSize);
    font-weight: var(--typeHeaderWeight);
}
h2{
    font-size: var(--typeHeaderSize);
    font-weight: var(--typeHeaderWeight);
}
h3, h4{
    font-size: var(--typeSubheaderSize);
    font-weight: var(--typeSubheaderWeight);
}
p, label, option, input, select{
    font-size: var(--typeBaseSize);
    font-weight: var(--typeBaseWeight);
}
.p__destacar p{
    font-size: 18px;
    font-weight: 800;
}
.btn{
    background-color: var(--main-color);
    color: hsl(0, 0%, 96%);
    padding: 15px 40px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    border-color:var(--main-color);
    text-decoration: none;
}
.center{
    text-align: center;
    margin: 0 auto;
}

/*FIN BASICS*/

/*BODY*/
.contenedor{
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}
.contenedor__titulos{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
/*FIN BODY*/

/*HOME*/
.homeBanner{
    padding-top: 150px;
    width: 100%;
    height: 800px;
    background-image: url(../img/Bolsas-de-algodón-en-bogota-tote-bag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.homeBeneficios{
    height: 50px;
    text-align: center;
    background-color: whitesmoke;
}
.homeBeneficios__beneficio{
    display: inline;
}
.homeCategoria__categorias__una{
    display: inline;
}
.homeCategoria__categorias__una__img{
    height: 300px;
}
/*FIN HOME*/

/*SOBRE NOSOTROS*/
.sobreNosotros{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}
.sobreNosotros__titular{
    background-color: var(--black);
    margin-top: 115px;
    padding: 50px;
    color: whitesmoke;
    text-align: center;
}
/*FIN SOBRE NOSOTROS*/

/*COOKIES*/
.cookies__actualizacion{
    font-style: italic;
    color:rgb(174, 173, 173);
    padding: 10px 0px 50px 0px;
}
/*FIN COOKIES*/

/*CONTACTO*/

.contacto{
    padding: 50px 0px;
}
.contacto div{
    padding: 0px 0px 30px 0px;
}
/*FIN CONTACTO*/

/*CALCULADORA - INICIO - PRODUCTOS*/
.inicioCalculadora{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.inicioCalculadora a{
    text-decoration: none;
}
.inicioCalculadora a:visited{
    text-decoration: none;
    color: var(--black);
}
.inicioCalculadora__producto{
    padding: 5px;
    margin: 30px 10px;
}
.inicioCalculadora__producto__pie{
    padding: 5px;
    width: 240px;
    text-align: left;
}
.inicioCalculadora__producto_pie p{
    color: var(--black);
    text-align: left;
    width: 230px;
}
#tote-bag-sencilla{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tote-bag-sencilla.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tote-bag-bolsillo{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tote-bag-bolsillo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tote-bag-bolsillo-cremallera{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tote-bag-cremallera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#ajustable-clasica{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/Ajustable.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tula{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tula.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
#tote-bag-cierre-completo{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/bolsa-cierre-completo.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
#ajustable-bolero{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/bolsa-ajustable-bolero.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
#video-container{
    height: 230px;
    width: 100%;
    overflow: hidden;
}
#video-container video{
    width: 240px;
}

/*FIN CALCULADORA - INICIO - PRODUCTOS*/

/*CALCULADORA POR CADA PRODUCTO*/
.contenedor__calculando___img img{
    height: 230px;
    width: 230px;
    padding-right: 20px;
}
.contenedor__calculando{
    display: flex;
}
.contenedor__calculando__form{
    padding: 15px 0px;
}
.contenedor__calculando__form div{
    margin: 15px 0px;
}
.contenedor__calculando__form__inline{
    display: inline;
}
/*FIN CALCULADORA POR CADA PRODUCTO*/

/*TABLA COMPRAS*/
.compras__tabla{
    width: 100%;
    border: 1px solid rgb(174, 173, 173);
    border-collapse: collapse;
}
.compras__tabla__lista{
    padding: 10px;
    vertical-align: center;
}
.compras__tabla__lista li{
    list-style: none;
    padding: 10px;
}
/*FIN TABLA COMPRAS*/

/*TIENDA*/
.contenedorTienda{
    margin: 30px 10%;
}
.contenedorTienda .product-item {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0;
}

.contenedorTienda .product-item .product {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.contenedorTienda .product-item .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedorTienda .product-item .product .icons .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer;
}

.contenedorTienda .product-item .product .icons .icon:hover {
    background-color: var(--main-color);
    color: #fff;
}

.contenedorTienda .product-item .product .icons .icon:nth-last-of-type(3) {
    transition-delay: 0.2s;
}

.contenedorTienda .product-item .product .icons .icon:nth-last-of-type(2) {
    transition-delay: 0.15s;
}

.contenedorTienda .product-item .product .icons .icon:nth-last-of-type(1) {
    transition-delay: 0.1s;
}

.contenedorTienda .product-item:hover .product .icons .icon {
    transform: translateY(-60px);
}

.contenedorTienda .product-item .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem;
}

.contenedorTienda .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

.contenedorTienda .product-item .fa-star {
    font-size: 0.65rem;
    color: goldenrod;
}

.contenedorTienda .product-item .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

.bg-green {
    background-color: var(--main-color);
    color: #fff;
}

.bg-black {
    background-color: #1f1d1d;
    color: #fff;
}

.bg-yellow {
    background-color: goldenrod;
    color: #fff;
}

.categories{
    display: flex;
    list-style: none;
    justify-content: center;
}
.categories a{
    text-decoration: none;
    color: var(--black);
    margin: 20px auto;
    padding: 10px 5%;
    font-weight: 800;
    border-bottom: solid transparent;
}
.categories a:hover{
    border-bottom: #11b28e solid;
}
.categories .categorieFocus{
    border-bottom: #11b28e solid;
}

/*FIN TIENDA*/