@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
:root{
    --main-color: #11b28e;
    --black: #2C2C2C;
    --typeHeaderSize: 35px;
    --typeHeaderWeight: 700;
    --typeSubheaderSize: 24px;
    --typeSubheaderWeight: 500;
    --typeBaseSize: 18px;
    --typeBaseWeight: 400;
}
/*HEADER*/
.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgb(174, 173, 173);
}
.header__logo{
    height: 50px;
}
.header__nav{
    display: flex;
    list-style: none;
}
.header__nav__element{
    list-style: none;
    padding: 10px 20px;
}
.header__nav__element a{
    text-decoration: none;
    color: var(--black);
    font-weight: 800;
}
.header__iconos a{
    padding: 10px;
    color: var(--black);
    font-size: 24px;
}
.breadcrumb{
    text-decoration: none;
    margin-bottom: 30px;
}
.breadcrumb i{
    color: var(--black);
}
.breadcrumb__element{
    display: inline;
    padding: 0px 20px 0px 0px;
}
.breadcrumb__element a{
    color: var(--black);
    text-decoration: none;
}
.breadcrumb__element a:visited{
    color: var(--black);
    text-decoration: none;
}
/* FIN HEADER*/

/*FOOTER*/
.footer{
    background-color: var(--black);
    padding: 40px;
}
.footer__logo {
    padding: 10px;
}
.footer__logo img{
    height: 250px;
}
.footer__logo__rrss{
    padding-top: 30px;
}
.footer__logo__rrss img{
    height: 40px;
}
.footer__section{
    padding: 10px;
}
.footer__section__titulo{
    color: whitesmoke;
    font-weight: 1000;

}
.footer__section__lista{
    list-style: none;
    color: whitesmoke;
}
.footer__section__lista a{
    color: whitesmoke;
    text-decoration: none;
}
.footer__section__lista a:visited{
    color: whitesmoke;
    text-decoration: none;
}
.footer__copy{
    color: whitesmoke;
    text-align: center;
}
/*FIN FOOTER*/

/*BASICS*/
h1{
    font-size: var(--typeHeaderSize);
    font-weight: var(--typeHeaderWeight);
}
h3{
    font-size: var(--typeSubheaderSize);
    font-weight: var(--typeSubheaderWeight);
}
p, label, option, input, select{
    font-size: var(--typeBaseSize);
    font-weight: var(--typeBaseWeight);
}
.p__destacar p{
    font-size: 18px;
    font-weight: 800;
}
.btn{
    background-color: var(--main-color);
    color: hsl(0, 0%, 96%);
    padding: 15px 40px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    border-color:var(--main-color);
    text-decoration: none;
}
.center{
    text-align: center;
    margin: 0 auto;
}

/*FIN BASICS*/

/*BODY*/
.contenedor{
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}
.contenedor__titulos{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
/*FIN BODY*/

/*HOME*/
.homeBanner{
    padding-top: 150px;
    width: 100%;
    height: 800px;
    background-image: url(../img/Bolsas-de-algodón-en-bogota-tote-bag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.homeBeneficios{
    height: 50px;
    text-align: center;
    background-color: whitesmoke;
}
.homeBeneficios__beneficio{
    display: inline;
}
.homeCategoria__categorias__una{
    display: inline;
}
.homeCategoria__categorias__una__img{
    height: 300px;
}
/*FIN HOME*/

/*SOBRE NOSOTROS*/
.sobreNosotros{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}
.sobreNosotros__titular{
    background-color: var(--black);
    margin-top: 115px;
    padding: 50px;
    color: whitesmoke;
    text-align: center;
}
/*FIN SOBRE NOSOTROS*/

/*COOKIES*/
.cookies__actualizacion{
    font-style: italic;
    color:rgb(174, 173, 173);
    padding: 10px 0px 50px 0px;
}
/*FIN COOKIES*/

/*CONTACTO*/

.contacto{
    padding: 50px 0px;
}
.contacto div{
    padding: 0px 0px 30px 0px;
}
/*FIN CONTACTO*/

/*CALCULADORA - INICIO - PRODUCTOS*/
.inicioCalculadora{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.inicioCalculadora a{
    text-decoration: none;
}
.inicioCalculadora a:visited{
    text-decoration: none;
    color: var(--black);
}
.inicioCalculadora__producto{
    padding: 5px;
    margin: 30px 10px;
}
.inicioCalculadora__producto__pie{
    padding: 5px;
    width: 240px;
    text-align: left;
}
.inicioCalculadora__producto_pie p{
    color: var(--black);
    text-align: left;
    width: 230px;
}
#tote-bag-sencilla{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tote-bag-sencilla.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tote-bag-bolsillo{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tote-bag-bolsillo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tote-bag-bolsillo-cremallera{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tote-bag-cremallera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#ajustable-clasica{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/Ajustable.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tula{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/tula.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
#tote-bag-cierre-completo{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/bolsa-cierre-completo.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
#ajustable-bolero{ 
    height: 230px;
    width: 230px;
    background-image: url(../img/bolsa-ajustable-bolero.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
#video-container{
    height: 230px;
    width: 100%;
    overflow: hidden;
}
#video-container video{
    width: 240px;
}

/*FIN CALCULADORA - INICIO - PRODUCTOS*/

/*CALCULADORA POR CADA PRODUCTO*/
.contenedor__calculando___img img{
    height: 230px;
    width: 230px;
    padding-right: 20px;
}
.contenedor__calculando{
    display: flex;
}
.contenedor__calculando__form{
    padding: 15px 0px;
}
.contenedor__calculando__form div{
    margin: 15px 0px;
}
.contenedor__calculando__form__inline{
    display: inline;
}
/*FIN CALCULADORA POR CADA PRODUCTO*/

/*TABLA COMPRAS*/
.compras__tabla{
    width: 100%;
    border: 1px solid rgb(174, 173, 173);
    border-collapse: collapse;
}
.compras__tabla__lista{
    padding: 10px;
    vertical-align: center;
}
.compras__tabla__lista li{
    list-style: none;
    padding: 10px;
}
/*FIN TABLA COMPRAS*/