/**/
$typeHeaderSize: 30px;
$typeHeaderWeight: 700;
$typeSubheaderSize: 20px;
$typeSubheaderWeight: 500;
$typeBaseSize: 14px;
$typeBaseWeight: 400;
$paso: 100px;

/*TEXT*/
h1{
    font-size: $typeHeaderSize;
    font-weight: $typeHeaderWeight;
}
h2{
    font-size: $typeHeaderSize;
    font-weight: $typeHeaderWeight;
}
h3, h4{
    font-size: $typeSubheaderSize;
    font-weight: $typeSubheaderWeight;
}
p, label, option, input, select{
    font-size: $typeBaseSize;
    font-weight: $typeBaseWeight;
}
.p__destacar p{
    font-size: 18px;
    font-weight: 800;
}
.btn{
    background-color: $main-color;
    color: hsl(0, 0%, 96%);
    padding: 10px 30px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    border-color: $main-color;
    text-decoration: none;
    &:hover{
        @extend .btn;
        background-color: #01a27f;
    }

}
.center{
    text-align: center;
    margin: 0 auto;
}
/*END TEXT*/

@mixin flex($display, $justifyContent) {
    display: $display;
    justify-content: $justifyContent;   
}